.placeholder{
    display: flex;
    color: rgb(229, 231, 235);
    position: relative;
    left :350px; top: 30px;
    
    background-color: grey;
    width: 500px; height: 120px;
    text-align: center;
    padding-top: 100px;
    font-size: 18px;
    
    gap: 150px;
}

.para{
    display: flex;
    position:relative;
    flex: auto;
    align-self: flex-start;
    justify-content: space-around;
    border: 2px solid blue;
    gap: 100px;
    align-items: left;
    width: 300px;
    bottom: 5px;
    color: rgb(229, 231, 235);
    }
div{
    flex: auto;
}

